<div>
<h1>Code of Conduct</h1>

<p>The CoC applies to all participants (attendees, speakers, organizers, volunteers, sponsors, and vendors) at official and unofficial events and any location where attendees may be congregating.
We expect all user group/event participants to help us realize a safe and positive experience for everyone.</p>

<h2>Community Expectations</h2>

<h3>Expectations for Organizers/Volunteers</h3>
<p>User Group/Event volunteers will be happy to help participants:
  <ul>
    <li>Contact venue security or local law enforcement</li>
      <li>Provide escorts</li>
        <li>Assist those experiencing harassment to feel safe for the duration of the event.</li>
      </ul>
    </p>

<h3>Expectations for Everyone</h3>
<p>At all meetings and social events we expect everyone will:
<ul>
<li>Be considerate, respectful, and collaborative</li>
<li>Refrain from demeaning, discriminatory, or harassing behavior and speech</li>
<li>Participate in an authentic and active way. In doing so, you help to create our use group and make it your own</li>
<li>Be mindful of your surroundings and of your fellow participants</li>
<li>Alert meeting organizers if you notice a dangerous situation or someone in distress</li>
</ul>
</p>

<h3>Expectations for Sponsors</h3>
<p>Sponsors, Vendors, and Booth Staff are also subject to the anti-harassment policy.</p>

<p>
Sponsors/Vendors should not use:
<ul>
  <li>Sexualised images</li>
  <li>Activities,</li>
  <li>Innappropriate and offensive material.</li>
</ul>
</p>

<p>
Booth staff (including volunteers) should not
<ul>
  <li>Create an innappropriate, offensive, sexualised environment</li>
  <li>Dress in sexualised clothing/uniforms/costumes</li>
  <li>Promote or use innappropriate and offensive material</li>
</ul>
</p>


<h2>Unaccaptable Behavior</h2>
<p>
Unacceptable behaviors include:

<ul>
<li>Harassing, abusive, discriminatory, or derogatory conduct</li>
<li>Offensive comments related to gender, sexual orientation, race, religion, disability</li>
<li>Inappropriate use of sexual images (including in presentations)</li>
<li>Deliberate intimidation, stalking, or following; harassing photography or recording</li>
<li>Sustained disruption of talks or events</li>
<li>Inappropriate physical contact, and unwelcome sexual attention</li>
</ul>

<p>
These unaccaptable behaviors will not be tolerated and anyone asked to stop is expected to comply immediately.
If a participant behaves unacceptably, the event organizers may take action they deem appropriate,
including expulsion from the event without warning or refund.
</p>

<p>We expect everyone to create a safe enviornment for our community. We value you. Value each other by being considerate, respectful, and collaborative.</p>

<h4>About our Community CoC</h4>
<p>
Current Techlahoma User Group/Event Code of Conduct based on our friends in <a href="http://www.okcruby.org/about/">OKCrb</a>, <a href="http://burlingtonruby.com/conduct.html">Vermont</a>, and <a href="http://2012.jsconf.us/#/about">JS Conf/Ada Iniative.</a>
</p>

<p>
This work is licensed under a Creative Commons Attribution 3.0 Unported License
</p>
</div>
