<div class="container">
	<div class="row">
		<div class="col-lg-12">
			&copy; Techlahoma |
			Find us on twitter: <a href="https://twitter.com/techlahoma">follow</a> |
			Irc: Freenode - #techlahoma |
			<a href="https://github.com/techlahoma/techlahoma">Contribute!</a> |
			<a href="/community/codeofconduct">Code of Conduct</a>
		</div>
	</div>
</div>
